<form action="/user/create" method="POST">
  <h2>Create a new User</h2>

  <input type="text" placeholder="Name" name="name" required/>
  <input type="text" placeholder="Email" name="email" required/>
  <input type="password" placeholder="Password" name="pass"/>
  <input type="checkbox" name="status" value="1"/>

  <input type="submit" value="Create User"/>
</form>
