<a href="/customer">Customer List</a>
<hr/>
<% if (req.user) { %>
  <h1>Welcome, <%= req.user.name %></h1>
  <hr/>
  <p>id: <%= req.user.id %></p>
  <a href="/auth/logout">Logout</a>
<% } else { %>
  <h1>Guest</h1>
<% } %>
