<form action="/customer/create" method="POST">
  <h2>Create a new User</h2>

  <input type="text" placeholder="Name" name="name" required autofocus />
  <input type="email" placeholder="Email" name="email" required/>

  <input type="submit" value="Create User"/>
</form>
